@import 'theme/colors';

.container {
    display: flex;
    padding-top: 130px;
    @media screen and (max-width: 860px) {
        padding-top: 90px;
    }
    @media screen and (max-width: 500px) {
        padding-top: 65px;
    }
}

.intro {
    @media screen and (max-width: 1120px) {
        font-size: 3.6rem;
    }
}

.paragraph {
    margin-top: 16px;
}

.image {
    border-radius: 50%;
    padding: 4px;
    border: 2px solid $pink01;
    width: 120px;
    height: 119px;
    img {
        border-radius: 50%;
    }
    @media screen and (max-width: 1120px) {
        display: none;
    }
}

.mobileImage {
    display: none;
    border-radius: 50%;
    padding: 4px;
    border: 2px solid $pink01;
    width: 80px;
    height: 79px;
    margin-right: 16px;
    img {
        border-radius: 50%;
    }
    @media screen and (max-width: 1120px) {
        display: flex;
    }
}

.content {
    width: 750px;
    margin-left: 24px;
    @media screen and (max-width: 860px) {
        margin-left: 0;
        width: 90vw;
    }
}

.topLine {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
